*This project is currently in **Beta**. Please open up an issue [here](https://github.com/mxenabled/mx-platform-node/issues) to report issues using the MX Platform Node.js library.*

# MX Platform Node.js

The [MX Platform API](https://www.mx.com/products/platform-api) is a powerful, fully-featured API designed to make aggregating and enhancing financial data easy and reliable. It can seamlessly connect your app or website to tens of thousands of financial institutions.

## Documentation

Examples for the API endpoints can be found [here.](https://docs.mx.com/api)

## Requirements

The generated Node module can be used in the following environments:

Environment
* Node.js
* Webpack
* Browserify

Language level
* ES5 - you must have a Promises/A+ library installed
* ES6

Module system
* CommonJS
* ES6 module system

## Installation

To build and compile the TypeScript sources to JavaScript use:

```shell
npm install mx-platform-node
```

## Getting Started

In order to make requests, you will need to [sign up](https://dashboard.mx.com/sign_up) for the MX Platform API and get a `Client ID` and `API Key`.

Please follow the [installation](#installation) procedure and then run the following code to create your first User:

```javascript
import { Configuration, UsersApi } from 'mx-platform-node';

const configuration = new Configuration({
  // Configure with your Client ID/API Key from https://dashboard.mx.com
  username: 'Your Client ID',
  password: 'Your API Key',

  // Configure environment. https://int-api.mx.com for development, https://api.mx.com for production
  basePath: 'https://int-api.mx.com',

  baseOptions: {
    headers: {
      Accept: 'application/vnd.mx.api.v1+json'
    }
  }
});

const usersApi = new UsersApi(configuration);

const requestBody = {
  user: {
    metadata: 'Creating a user!'
  }
};

const response = await usersApi.createUser(requestBody);

console.log(response.data);
```

## Migration Guide

### Breaking Change in v2.0.0 (and v1.10.1-v1.12.1)

**Important:** Starting with version 2.0.0 (originally introduced in v1.10.1, now properly versioned), the unified `MxPlatformApi` class has been replaced with domain-specific API classes. If you're upgrading from v1.10.0 or earlier, you'll need to update your imports and API instantiation.

**Note:** Versions v1.10.1 through v1.12.1 are deprecated. If you're on any of these versions, please upgrade to v2.0.0 (functionally identical to v1.12.1, just properly versioned).

#### What Changed

The library now provides granular API classes organized by domain (Users, Members, Accounts, Transactions, etc.) instead of a single `MxPlatformApi` class. This aligns with the OpenAPI specification structure and provides better code organization.

#### How to Migrate

**Before (v1.10.0 and earlier):**
```javascript
import { Configuration, MxPlatformApi } from 'mx-platform-node';

const client = new MxPlatformApi(configuration);
await client.createUser(requestBody);
await client.listMembers(userGuid);
await client.listAccounts(userGuid);
```

**After (v2.0.0+):**
```javascript
import { Configuration, UsersApi, MembersApi, AccountsApi } from 'mx-platform-node';

const usersApi = new UsersApi(configuration);
const membersApi = new MembersApi(configuration);
const accountsApi = new AccountsApi(configuration);

await usersApi.createUser(requestBody);
await membersApi.listMembers(userGuid);
await accountsApi.listAccounts(userGuid);
```

#### Available API Classes

- `AccountsApi` - Account operations
- `AuthorizationApi` - Authorization operations
- `BudgetsApi` - Budget operations
- `CategoriesApi` - Category operations
- `GoalsApi` - Goal operations
- `InsightsApi` - Insight operations
- `InstitutionsApi` - Institution operations
- `InvestmentHoldingsApi` - Investment holding operations
- `ManagedDataApi` - Managed data operations
- `MembersApi` - Member operations
- `MerchantsApi` - Merchant operations
- `MicrodepositsApi` - Microdeposit operations
- `MonthlyCashFlowProfileApi` - Monthly cash flow profile operations
- `NotificationsApi` - Notification operations
- `ProcessorTokenApi` - Processor token operations
- `RewardsApi` - Rewards operations
- `SpendingPlanApi` - Spending plan operations
- `StatementsApi` - Statement operations
- `TaggingsApi` - Tagging operations
- `TagsApi` - Tag operations
- `TransactionRulesApi` - Transaction rule operations
- `TransactionsApi` - Transaction operations
- `UsersApi` - User operations
- `VerifiableCredentialsApi` - Verifiable credential operations
- `WidgetsApi` - Widget operations

For the complete list of available methods, please refer to the [API documentation](https://docs.mx.com/api).

## Development

This project was generated by the [OpenAPI Generator](https://openapi-generator.tech). To generate this library, verify you have the latest version of the `openapi-generator-cli` found [here.](https://github.com/OpenAPITools/openapi-generator#17---npm)

Running the following command in this repo's directory will generate this library using the [MX Platform API OpenAPI spec](https://github.com/mxenabled/openapi/blob/master/openapi/mx_platform_api.yml) with our [configuration and templates.](https://github.com/mxenabled/mx-platform-ruby/tree/master/openapi)
```shell
openapi-generator-cli generate \
-i https://raw.githubusercontent.com/mxenabled/openapi/master/openapi/mx_platform_api.yml \
-g typescript-axios \
-c ./openapi/config.yml \
-t ./openapi/templates
```

## Contributing

Please [open an issue](https://github.com/mxenabled/mx-platform-node/issues) or [submit a pull request.](https://github.com/mxenabled/mx-platform-node/pulls)
