name: On Push to Master

on:
  push:
    branches: [master]
    paths:
      # Latest version SDK files
      - 'latest/**'

jobs:
  Publish:
    uses: ./.github/workflows/publish.yml
    secrets: inherit

  Release:
    uses: ./.github/workflows/release.yml
    secrets: inherit
